body {
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Urbanist", sans-serif;
  transition: 1s ease-in-out;
}

main {
  padding: 30px 0;
}

header {
  padding-bottom: 10px;
}

hr {
  border: 1px solid rgba(27, 27, 79, 0.08);
}

h1 {
  display: block;
  font-size: 38px;
  line-height: 48px;
  font-weight: 800;
  margin: 10px 0;
}

footer {
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}

a {
  color: #324577;
}

p strong {
  color: #324577;
}

p.weather-details {
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.weather-app-container {
  background-color: white;
  max-width: 600px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
}

.search-input {
  width: 80%;
  color: #1b1b4f;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(27, 27, 79, 0.08);
  padding: 15px;
}

.search-button {
  background-color: #1b1b4f;
  color: white;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  padding: 15px 30px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  display: block;
  font-size: 90px;
  line-height: 1;
}

.weather-conditions-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature-unit {
  font-size: 30px;
  margin-top: 15px;
}
